{% extends 'tienda/index.html.twig' %}

{% block title %}Fotos{% endblock %}

{% block main %}
    <h1>Fotos</h1>

    {% if fotos is empty %}
        <p>No hay fotos disponibles.</p>
    {% else %}
        <div class="card-container">
            {% for foto in fotos %}
                <div class="card">
                    <img src="{{ asset(foto.nombre) }}" alt="Foto de {{ foto.Producto.Nombre }}">
                    <p>Producto: {{ foto.Producto.Nombre }}</p>
                    <a href="{{ path('foto_show', { 'id': foto.id }) }}">Ver detalles</a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
