{# templates/categorias/nuevo.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Nueva Categoría
{% endblock %}

{% block main %}
	<h1 class="formCrearCategoria-title">Nueva Categoría</h1>

	<form action="{{ path('categoria_crear') }}" method="post" class="formCrearCategoria">
		<div class="formCrearCategoria-group">
			<label for="nombre" class="formCrearCategoria-label">Nombre:</label>
			<input type="text" id="nombre" name="nombre" class="formCrearCategoria-input" required>
		</div>
		<div class="formCrearCategoria-group">
			<label for="descripcion" class="formCrearCategoria-label">Descripción:</label>
			<textarea id="descripcion" name="descripcion" class="formCrearCategoria-textarea" rows="4" required></textarea>
		</div>
		<button type="submit" class="customButton2">Crear Categoría</button>
	</form>

	<a href="{{ path('categorias_index') }}" class="formCrearCategoria-backLink">
		<button class="customButton2">Volver a la lista</button>
	</a>

{% endblock %}
