{# gridProductosInicio.html.twig #}
<div class="card-container">
	{% if productos is not empty %}
		{% for producto in productos|slice(0, 4) %}
			<div class="card">
				<h3>{{ producto.nombre }}</h3>
				<p>Precio:
					{{ producto.precio }}</p>
			</div>
		{% endfor %}
        <a href="{{ path('ver_todos_los_productos') }}">Ver todos los productos</a>
	{% else %}
		<div class="container-fluid">
			<div class="row justify-content-center align-items-center">
				<div class="card-container">
					<div class="card w-50 text-center">
						<p id="textosGenerales2">No hay productos disponibles en este momento.</p>
					</div>
				</div>
			</div>
		</div>

	{% endif %}
</div>
