
<div class="tienda-sidebar" id="tiendaSidebar">
<a href="#productos">Productos</a>
<a href="#novedades">Novedades</a>
<a href="#categorias">Categorías</a>
<a href="#carrito">Carrito</a>
</div>

<button class="menu-btn" id="menuBtn"><img id="menuIcon" src="{{ asset('imagenes/botones/iconoFlecha.png') }}" alt="Toggle Menu"></button>