{% extends 'base.html.twig' %}

{% block main %}
    <div class="container mt-5 pagLegal">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Aviso Legal de AngeluGoraWeb</h1>
                <h5>Identificación del Responsable:</h5>
                <ul>
                    <li id="textosGenerales">Nombre/Razón Social: AngeluGoraWeb</li>
                    <li id="textosGenerales">Dirección: Calle Olivas Nº2</li>
                    <li id="textosGenerales">Correo Electrónico: djangelugora@gmail.com</li>
                    <li id="textosGenerales">Teléfono: 648415372</li>
                    <li id="textosGenerales">NIF/CIF: 06292114G</li>
                </ul>
                <h5>Propiedad Intelectual e Industrial:</h5>
                <ul>
                    <li id="textosGenerales">Todos los contenidos de este sitio web, incluyendo textos, imágenes, logotipos y diseño, están protegidos por derechos de autor y otras leyes de propiedad intelectual aplicables. Todos los derechos no expresamente otorgados están reservados.</li>
                </ul>
                <h5>Condiciones de Uso:</h5>
                <ul>
                    <li id="textosGenerales">El acceso y uso de este sitio web están sujetos a las siguientes condiciones de uso. Al acceder a este sitio web, usted acepta cumplir con estas condiciones.</li>
                    <li id="textosGenerales">AngeluGoraWeb se reserva el derecho de modificar, actualizar o eliminar cualquier información contenida en este sitio web en cualquier momento y sin previo aviso.</li>
                </ul>
                <h5>Información Legal:</h5>
                <ul>
                    <li id="textosGenerales">El uso de este sitio web y cualquier disputa legal que surja en relación con él están sujetos a las leyes de España.</li>
                    <li id="textosGenerales">Para cualquier consulta o reclamación relacionada con este sitio web, puede ponerse en contacto con nosotros a través de los datos de contacto proporcionados anteriormente.</li>
                </ul>
                <p id="textosGenerales">Fecha de última actualización: 31 de Mayo de 2024</p>
            </div>
        </div>
    </div>
{% endblock %}
