{% extends 'base.html.twig' %}

{% block main %}
    <div class="container mt-5 pagLegal">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Política de Privacidad de AngeluGoraWeb</h1>
                <h5>Recopilación de Datos:</h5>
                <ul>
                    <li id="textosGenerales">AngeluGoraWeb recopila cierta información personal de los usuarios de este sitio web, como nombre, dirección de correo electrónico y datos de contacto.</li>
                </ul>
                <h5>Uso de los Datos:</h5>
                <ul>
                    <li id="textosGenerales">La información recopilada se utiliza para proporcionar servicios y responder a consultas de los usuarios.</li>
                    <li id="textosGenerales">AngeluGoraWeb se compromete a proteger la privacidad de los usuarios y no compartirá sus datos personales con terceros sin su consentimiento expreso, excepto cuando sea necesario para cumplir con obligaciones legales.</li>
                </ul>
                <h5>Cookies:</h5>
                <ul>
                    <li id="textosGenerales">Este sitio web utiliza cookies para mejorar la experiencia del usuario. Al utilizar este sitio web, usted acepta el uso de cookies de acuerdo con nuestra política de cookies.</li>
                </ul>
                <h5>Derechos de los Usuarios:</h5>
                <ul>
                    <li id="textosGenerales">Los usuarios tienen derecho a acceder, rectificar, eliminar y oponerse al tratamiento de sus datos personales. Para ejercer estos derechos, pueden ponerse en contacto con nosotros a través de los datos de contacto proporcionados anteriormente.</li>
                    <li id="textosGenerales">AngeluGoraWeb se compromete a proteger la privacidad y seguridad de los datos personales de los usuarios de acuerdo con las leyes de protección de datos aplicables.</li>
                </ul>
                <p id="textosGenerales">Fecha de última actualización: 31 de Mayo de 2024</p>
            </div>
        </div>
    </div>
{% endblock %}
