{% extends 'base.html.twig' %}

{% block title %}Sobre Mí{% endblock %}

{% block main %}
<div class="container content">
    <section class="section-presentacion card m-5">
        <h2 class="section-title text-center mt-3">Carta de Presentación</h2>
        <p id="textosGenerales" class="m-3">
            Soy un joven entusiasta con un gran deseo de aprender y adquirir nuevos conocimientos a través del trabajo. Poseo una notable capacidad de adaptación y excelentes habilidades interpersonales.
            <br><br>
            Mi objetivo profesional es desarrollar y mejorar mis capacidades y conocimientos, al mismo tiempo que adquiero nuevas habilidades.
            <br><br>
            A lo largo de mi trayectoria, he trabajado desde los 16 años en el sector de la hostelería. Además, soy DJ y programador web. He realizado prácticas como técnico en microinformática en el Ayuntamiento de Alcázar de San Juan y como desarrollador web en la empresa Defisoft S.L.
            <br><br>
            Mi deseo es encontrar un lugar donde pueda mejorar continuamente y establecerme de manera estable y duradera.
        </p>
    </section>
    <section class="section-curriculum card m-5">
        <h2 class="section-title text-center mt-3">Currículum</h2>
        <div id="divCurriculum" class="m-3">
            <h3>Educación</h3>
            <ul>
                <li id="textosGenerales">ESO</li>
                <li id="textosGenerales">Socorrista acuático (Federación Española) + DESA</li>
                <li id="textosGenerales">CFGM Técnico en Sistemas Microinformáticos y Redes</li>
                <li id="textosGenerales">CFGS Técnico Superior en Desarrollo de Aplicaciones Web</li>
            </ul>
            <h3>Experiencia Laboral</h3>
            <ul>
                <li id="textosGenerales">2020/2022: Camarero, repartidor, pizzero, encargado de existencias</li>
                <li id="textosGenerales">2022: Repartidor de alimentos básicos en automóvil</li>
                <li id="textosGenerales">2023: Camarero, responsable de barra, en festivales</li>
                <li id="textosGenerales">2024: Camarero en hotel restaurante</li>
            </ul>
            <h3>Habilidades</h3>
            <ul>
                <li id="textosGenerales">Don de gentes</li>
                <li id="textosGenerales">Responsable</li>
                <li id="textosGenerales">Habilidoso</li>
                <li id="textosGenerales">Resolutivo</li>
                <li id="textosGenerales">Rápido aprendizaje</li>
                <li id="textosGenerales">Formal</li>
            </ul>
        </div>
    </section>
</div>
{% endblock %}
