{% extends 'base.html.twig' %}

{% block main %}
    <div class="container mt-5 pagLegal">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Términos y Condiciones de Angelu Gora Web</h1>
                <p id="textosGenerales">Bienvenido a Angelu Gora Web. Estos términos y condiciones rigen su uso de nuestro sitio web. Al utilizar este sitio web, usted acepta estos términos en su totalidad. Si no está de acuerdo con estos términos y condiciones o cualquier parte de estos términos y condiciones, no debe usar este sitio web.</p>
                <h2>Licencia de Uso</h2>
                <p id="textosGenerales">Se le concede permiso para acceder y utilizar este sitio web y su contenido con fines personales y no comerciales. Este permiso se otorga de forma gratuita y no exclusiva, sujeto a las restricciones establecidas en estos términos y condiciones.</p>
                <h2>Propiedad Intelectual</h2>
                <p id="textosGenerales">Los materiales contenidos en este sitio web, incluidos, entre otros, el diseño, el diseño gráfico, el texto, la apariencia y los gráficos, están protegidos por derechos de autor y otras leyes de propiedad intelectual aplicables. Todos los derechos no expresamente otorgados en estos términos y condiciones están reservados.</p>
                <h2>Responsabilidades del Usuario</h2>
                <p id="textosGenerales">Usted acepta no utilizar este sitio web de manera que pueda dañar, deshabilitar, sobrecargar o deteriorar el sitio web o interferir con el uso y disfrute del sitio web por parte de terceros. Usted acepta no intentar obtener acceso no autorizado a partes seguras del sitio web ni a servidores, equipos o redes conectados al sitio web.</p>
                <h2>Limitación de Responsabilidad</h2>
                <p id="textosGenerales">En ningún caso seremos responsables ante usted por ningún daño directo, indirecto, incidental, especial, punitivo o consecuencial que surja del uso o la imposibilidad de usar este sitio web, incluidos, entre otros, daños por pérdida de beneficios, pérdida de datos o interrupción comercial, independientemente de la forma de la acción, ya sea en contrato, agravio (incluida la negligencia), responsabilidad estricta o de otro tipo, incluso si se nos ha informado de la posibilidad de tales daños.</p>
                <h2>Modificaciones</h2>
                <p id="textosGenerales">Nos reservamos el derecho de revisar estos términos y condiciones en cualquier momento. Al usar este sitio web, usted acepta estar sujeto a la versión actual de estos términos y condiciones.</p>
                <h2>Legislación Aplicable</h2>
                <p id="textosGenerales">Estos términos y condiciones se regirán e interpretarán de acuerdo con las leyes del Estado de España, y usted se somete irrevocablemente a la jurisdicción exclusiva de los tribunales en ese estado o ubicación.</p>
            </div>
        </div>
    </div>
{% endblock %}
